 /* .page{
    
}  */

.logo-top{
    position: absolute;
    width: 145px;
    height: 31px;
    top: 24px;
    left: 215px;
}

/* .menu-navigation{
    position: absolute;
    width: 261px;
    height: 16px;
    left: 453px;
    top: 32px;
    background-color: aqua;
} */

/* ......................................................... */

.menu-navigation > ul{
    list-style-type: none;
}

.menu-navigation-item-agency{
    position: absolute;
    width: 53px;
    height: 16px;
    top: 32px;
    left: 453px;
}

.menu-navigation-item-agency:hover{
    color: #2196f3;
    cursor: pointer;
}

.menu-navigation-item-portfolio > a{
    position: absolute;
    width: 58px;
    height: 16px;
    top: 32px;
    left: 552px;

    text-decoration: none;
    color: #000000;
}

.menu-navigation-item-portfolio:hover > a{
    color: #2196f3;
    cursor: pointer;
    text-decoration: none;
}

.menu-navigation-item-contact{
    position: absolute;
    width: 59px;
    height: 16px;
    top: 32px;
    left: 656px;
}

.menu-navigation-item-contact:hover{
    color: #2196f3;
    cursor: pointer;
}

.e-mail-top > a{
    position: absolute;
    width: 135px;
    height: 16px;
    top: 32px;
    left: 1078px;

    list-style-type: none;
    text-decoration: none;
    color: #757575;

    font-family: 'Roboto';
    font-style: normal;
}

.e-mail-top:hover > a{
    color: #2196f3;
    cursor: pointer;
}

.e-mail-top:focus > a{
    color: #2196f3;
}

.telephone-top{
    position: absolute;
    width: 110px;
    height: 16px;
    top: 32px;
    left: 1263px;

    list-style-type: none;

    color: #757575;
}

.telephone-top:hover{
    color: #2196f3;
    cursor: pointer;
}

.telephone-top:focus{
    color: #2196f3;
}

/* ******************** MENU ************************** */

.menu {
    list-style-type: none;
    
}

.menu-item-all{             /* First button */
    position: absolute;
    width: 121px;
    height: 38px;
    top: 174px;
    left: 510px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);

    font-style: normal;
    font-size: 16px;
    font-weight: 500px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
}

.menu-item-pages{
    position: absolute;
    width: 93px;
    height: 38px;
    top: 174px;
    left: 639px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);

    font-style: normal;
    font-size: 16px;
    font-weight: 500px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
}

.menu-item-applications{
    position: absolute;
    width: 114px;
    height: 38px;
    top: 174px;
    left: 740px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);

    font-style: normal;
    font-size: 16px;
    font-weight: 500px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
}

.menu-item-design{
    position: absolute;
    width: 91px;
    height: 38px;
    top: 174px;
    left: 862px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);

    font-style: normal;
    font-size: 16px;
    font-weight: 500px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
}

.menu-item-marketing{
    position: absolute;
    width: 121px;
    height: 38px;
    top: 174px;
    left: 961px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);

    font-style: normal;
    font-size: 16px;
    font-weight: 500px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
}

.menu-item-all:hover{
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

.menu-item-all:focus{
    background-color: #2196f3;
    color: #ffffff;
}

.menu-item-pages:hover{
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

.menu-item-pages:focus{
    background-color: #2196f3;
    color: #ffffff;
}

.menu-item-applications:hover{
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

.menu-item-applications:focus{
    background-color: #2196f3;
    color: #ffffff;
}

.menu-item-design:hover{
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

.menu-item-design:focus{
    background-color: #2196f3;
    color: #ffffff;
}

.menu-item-marketing:hover{
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

.menu-item-marketing:focus{
    background-color: #2196f3;
    color: #ffffff;
}

/* ********************* Projects ***************************** */

.projects{
    list-style-type: none;
}

.picture-name{
    white-space: pre-wrap;
}

.project-1{
    position: absolute;
    /* width: 370px;
    height: 294px; */
    top: 262px;
    left: 215px;
}

.project-2{
    position: absolute;
    /* width: 370;
    height: 294; */
    top: 262px;
    left: 615;
}

.project-3{
    position: absolute;
    top: 262px;
    left: 1015px;
}

.project-4{
    position: absolute;
    top: 696px;
    left: 215px;
}

.project-5{
    position: absolute;
    top: 696px;
    left: 615px;
}

.project-6{
    position: absolute;
    top: 696px;
    left: 1015px;
}

.project-7{
    position: absolute;
    top: 1130px;
    left: 215px;
}

.project-8{
    position: absolute;
    top: 1130px;
    left: 615px;
}

.project-9{
    position: absolute;
    top: 1130px;
    left: 1015px;
}

/* ................. Footer ................ */

.logo-bottom{
    position: absolute;
    width: 145px;
    height: 31px;
    top: 1688px;
    left: 215px;
}

.data-contact-bottom{
    position: absolute;
    width: 247px;
    height: 81px;
    top: 1739px;
    left: 215px;

    font-size: 14px;
    font-style: normal;
}

.data-contact-bottom > ul{
    list-style-type: none;
    position: absolute;
}

.e-mail-bottom > a{
    color: #757575;
    text-decoration: none;
}

.e-mail-bottom:hover > a{
    color: #2196f3;
    cursor: pointers;
    text-decoration: none;
}

.telephone-bottom{
    color: #757575;
}

.telephone-bottom:hover{
    color: #2196f3;
    cursor: pointer;
}

/* .box-footer{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background-color: #2F303A;
} */