.logo{
    position: absolute;
    width: 145px;
    height: 31px;
    top: 24px;
    left: 215px;
}

/* .menu-navigation{
    position: absolute;
    width: 261px;
    height: 16px;
    left: 453px;
    top: 32px;
    background-color: aqua;
} */

.menu-navigation > ul{
    list-style-type: none;
}

.menu-item-agencja{
    position: absolute;
    width: 53px;
    height: 16px;
    top: 32px;
    left: 453px;
}

.menu-item-portfolio > a{
    position: absolute;
    width: 58px;
    height: 16px;
    top: 32px;
    left: 552px;
}

.menu-item-contact{
    position: absolute;
    width: 59px;
    height: 16px;
    top: 32px;
    left: 656px;
}


/* .menu-agencja{
    position: absolute;
    width: 53px;
    height: 16px;
    left: 453px;
    top: 32px;
} */